services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./database/decampoacampo.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql
  
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"

  php:
    build: .
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html/
      - /var/www/html/vendor

volumes:
  db_data: